<footer class="footer">
    <div class="container">
    <div class="contacts">
        <div class="social-icons">
            <div class="facebook-icon"></div>
            <div class="instagram-icon"></div></div>
        <p class="footer-text">info@polskapraca.in.ua


           </p>
        <p class="footer-text">+38 (044) 492-02-20</p>
    </div>
    <div class="lisenses">
        <p class="footer-text">Лiцензiя затверджена наказом</p>
        <p class="footer-text"> № 1740 вiд 06.11.2017</p>
        <p class="footer-text">© 2018 Polska praca</p>
        <p class="footer-text">ДЕВЛАБ УКРАЇНА, ТОВ</p>
    </div>
    </div>
</footer>