<footer class="footer">
    <div class="container">
        <div class="contacts">
        <div class="social-icons">
            <a href="#" class="facebook-icon"></a>
            <a href="#" class="instagram-icon"></a>
        </div>
        <p class="footer-text">info@polskapraca.in.ua</p>
        <p class="footer-text">+38 (044) 492-02-20</p>
        </div>
        <div class="navmenu-dropdown-wrap">
        <ul class="navmenu-dropdown">
            <li class="navmenu-item"><a href = "#">головна</a></li>
            <li class="navmenu-item"><a href = "#">про сервіс</a></li>
            <li
                class="navmenu-item"><a href = "#">курси польської</a></li>
            <li
                    class="navmenu-item"><a href = "#">статті</a></li>
            <li class="navmenu-item"><a href = "#">вакансії</a></li>
            <li
                class="navmenu-item"><a href = "#">тарифи</a></li>
        </ul>
            </div>
    <div class="lisenses">
        <a href="#" class="footer-text">Лiцензiя затверджена наказом № 1740 вiд 06.11.2017</a>
        <a href="#" class="footer-text">© 2018 Polska praca ДЕВЛАБ УКРАЇНА, ТОВ</a>
    </div>
    </div>
</footer>