.footer{
  font-size: 16.67px;
  background-color: #3b3a3a;
  font-family: $echo;
  padding: 24px 0;
  text-align: center;
  @include media($width-xs) {
    padding: 33px 0;
    font-size: 23.91px;
  }
  @include media($width-mid) {
    padding: 30px 0 48px 0;
    font-size: 25px;
  }
  @include media($width-max) {
    padding: 47px 0 47px 0;
    font-size: 14.79px;
  }
  .container{
    display: block;
    @include media($width-max) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

  }
.contacts{
  @include media($width-max) {
    display: inline-block;
    vertical-align: top;
  }
}
.social-icons{
  margin-bottom: 17px;
  @include media($width-xs) {
    margin-bottom: 35px;
  }
    @include media($width-mid) {
      margin-bottom: 30px;
    }
  @include media($width-max) {
    margin-bottom: 3px;
  }
}
.facebook-icon{
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/facebook.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  margin-right: 8px;
  @include media($width-xs) {
    width: 47px;
    height: 47px;
    background-size: 47px 47px;
  }
  @include media($width-mid) {
    width: 57px;
    height: 57px;
    background-size: 57px 57px;
  }
  @include media($width-max) {
    margin-right: 0px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
  }
}
.instagram-icon{
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/inst.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  @include media($width-xs) {
    width: 47px;
    height: 47px;
    background-size: 47px 47px;
  }
  @include media($width-mid) {
    width: 57px;
    height: 57px;
    background-size: 57px 57px;
  }
  @include media($width-max) {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}
.footer-text{
  margin-bottom: 19px;
  @include media($width-xs) {
    margin-bottom: 35px;
  }
    @include media($width-mid) {
      margin-bottom: 30px;
    }
  @include media($width-max) {
    margin-bottom: 3px;
  }
}
.lisenses{
  @include media($width-max) {
    display: inline-block;
    vertical-align: top;
    font-family: $echolight;
  }
}
  .contacts > .footer-text{
    @include media($width-max) {
      font-family: $echobold;
    }
  }
.lisenses > .footer-text:last-child{
    margin-bottom: 0;
  }
  .navmenu-dropdown-wrap{
    display: none;
    width: 366px;
    overflow: hidden;
    @include media($width-max){
      display: inline-block;
    }
  }
  .navmenu-dropdown{
    column-count: 2;
    width: 566px;
    text-align: left;
    font-size: 0;
  }
  .navmenu-item{
    font-family: $echobold;
    font-size: 18.75px;
    text-transform: capitalize;
    margin-bottom: 10px;
    width: 100%;
      margin-right: 0px;
    &:last-child{
      @include media($width-max){
        margin-bottom: 0;
      }
    }
  }
}
