.courses {
  padding: 24px 0 28px 0;
  background-image: url("img/mainbg.png");
  font-family: $museo500;
  font-size: 25px;
  color: $mainblack;
  text-align: center;
  @include media($width-xs) {
    padding: 34px 0 46px 0;
    font-size: 35.87px;
  }
  @include media($width-mid) {
    padding: 70px 0;
    font-size: 58.33px;
  }
  @include media($width-max) {
    padding: 53px 0;
    font-size: 25px;
  }
  .mySlides {
    @include media($width-max) {
      margin-right: 81px;
    }
    &:nth-child(3) {
      @include media($width-max) {
        margin-right: 0;
      }
    }
}
  .courses-item-title {
    text-transform: uppercase;
    font-family: $museo700;
    color: $mainred;
    margin-bottom: 14px;
    font-size: 33.33px;
    @include media($width-xs) {
      font-size: 47.82px;
      margin-bottom: 19px;
    }
    @include media($width-mid) {
      font-size: 66.67px;
      margin-bottom: 50px;
    }
    @include media($width-max) {
      font-size: 41.67px;
      margin-bottom: 56px;
    }
  }
  .coursis-item-text {
    font-family: $museo100;
    font-size: 20.83px;
    margin-bottom: 27px;
    @include media($width-xs) {
        font-size: 29.89px;
        margin-bottom: 40px;
      }
    @include media($width-mid) {
      font-size: 50px;
      margin-bottom: 50px;
    }
    @include media($width-max) {
      font-size: 22.92px;
      margin-bottom: 52px;
    }
  }
  .courses-terms-item {
    margin-bottom: 17px;
    @include media($width-xs) {
      margin-bottom: 25px;
    }
    @include media($width-max) {
      margin-bottom: 52px;
    }
    &:last-child{
      margin-bottom: 28px;
      @include media($width-xs) {
        margin-bottom: 35px;
      }
      @include media($width-max) {
        margin-bottom: 52px;
      }
    }
  }
  .prev, .next{
    top: 146px;
    @include media($width-xs) {
        top: 208px;
      }
    @include media($width-mid) {
      top: 345px;
    }
  }
}