.courses {
  padding: 26px 23px;
  background-image: url("img/mainbg.png");
  font-family: $museo;
  font-size: 25px;
  color: $mainblack;
  text-align: center;
  .courses-item-title {
    text-transform: uppercase;
    font-weight: 700;
    color: $mainred;
    margin-bottom: 25px;
    font-size: 33.33px;
  }
  .coursis-item-text {
    font-weight: 100;
    font-size: 20.83px;
    margin-bottom: 20px;
  }
  .courses-terms-item {
    margin-bottom: 23px;
    font-weight: 500;
  }
  .prev, .next{
    top: 179px
  }
}