<section class="forwhat">
    <div class="container">
    <p class="forwhat-title">що це дає?</p>
        <ul class="forwhat-text-box">
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>базове розуміння польської мови</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>словниковий запас для початку <br> спілкування на роботі та в побуті</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>усунення мовного бар’єру</span></li>
    <li class="forwhat-text"><div class="forwhat-disk"></div><span>можливість швидкої адаптації в <br> новому мовному оточені</span></li>
        </ul></div>
</section>