.banner {
  width: 100%;
  background-image: url("img/banner1336.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 35px 0 25px 0;
  box-sizing: border-box;
  border-bottom: 4px solid $mainred;
  font-size: 16.67px;
  @include media($width-xs) {
    font-size: 23.91px;
    padding: 65px 0 50px 0;
    border-bottom-width: 6px;
  }
  @include media($width-mid) {
    font-size: 49.99px;
    padding: 90px 0 80px 0;
    border-bottom-width: 12px;
  }
  @include media($width-max-mid) {
    background-image: url("img/banner940.png");
  }
  @include media($width-max-xs) {
    background-image: url("img/banner460.png");
  }
  @include media($width-max-xxs) {
    background-image: url("img/banner320.png");
  }
}


.banner-content > * {
  text-align: center;
  margin-bottom: 32px;
  @include media($width-xs) {
    margin-bottom: 36px;
  }
  @include media($width-mid) {
    margin-bottom: 76px;
  }
}

.banner-title {
  text-transform: uppercase;
  font-size: 20.83px;
  @include media($width-xs) {
    font-size: 29.17px;
  }
  @include media($width-mid) {
    font-size: 60.48px;
  }
}

.banner-text {
  font-family: $museo;
  font-weight: 300;
}

.red-button {
  cursor: pointer;
  width: 119px;
  height: 36px;
  font-family: $echo;
  display: block;
  margin: 0 auto;
  background-color: $mainred;
  border: none;
  outline: none;
  color: $mainwhite;
  border-radius: 9px;
  @include media($width-xs) {
    width: 168px;
    height: 51px;
  font-family: $echobold;
  }
  @include media($width-mid) {
    width: 350px;
    height: 105px;
  }
}