.navmenu{
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 16px;
  background-image: url("img/menuicon.png");
  background-position: center;
  background-size: 19px 16px;
  margin-right: 4px;
  position: relative;
  @include media($width-xs){
    margin-right: 6px;
    width: 28px;
    height: 23px;
    background-size: 28px 23px;
    font-size: 23.87px;
  }
  @include media($width-mid){
    margin-right: 14px;
    width: 31px;
    height: 26px;
    background-size: 31px 26px;
  }
}
.navmenu-dropdown-wrap{
  display: none;
  position: absolute;
  padding-top: 32px;
  left: -2px;
  background-color: transparent;
  @include media($width-xs){
    padding-top: 44px;
    top: -8px;
  }
  @include media($width-mid){
    padding-top: 53px;
    left: -11px;
  }
}
.navmenu-dropdown{
  min-width: 230px;
  z-index: 1;
  color: #000000;
  padding: 15px 0 19px 23px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.navmenu:hover .navmenu-dropdown-wrap {
  display: block;
}
.navmenu-item{
  text-transform: uppercase;
  display: block;
  margin-bottom: 35px;
  &:last-child{
    margin-bottom: 0;
  }
}