/* banner styles starts */
.study {
  padding: 26px 23px;
  .study-title {
    text-transform: uppercase;
    text-align: center;
    color: $mainred;
    font-family: $echomed;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
  }
  .slideshow-container {
    position: relative;
    margin: auto;
    //background-image: url("img/mainbg.png");
    .mySlides {
      display: none;
      font-family: $museo;
      font-size: 18.75px;
      text-align: center;
      img {
        width: 157px;
      }
    }
    .prev, .next {
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      padding-left: 15px;
      padding-top: 11px;
      top: 114px;
      width: 44px;
      height: 44px;
      border-radius: 25px;
      color: #8a8989;
      font-size: 21px;
      background-color: #e8e8e8;
    }
    .next {
      right: 0;
    }

    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }
    .study-item-title{
      color: $mainred;
      text-transform: uppercase;
      font-weight: 500;
    }
    .study-item-text{
      color: #333333;
      font-weight: 300;
    }
  }
}
/* banner styles ends */