/* banner styles starts */
.study {
  padding: 20px 0 26px 0;
  background-image: url("img/mainbg.png");
  @include media($width-xs){
    padding: 36px 0;
  }
  @include media($width-mid){
    padding: 80px 0;
  }
  @include media($width-max){
    padding: 55px 0;
  }
  .study-title {
    text-transform: uppercase;
    text-align: center;
    color: $mainred;
    font-family: $echomed;
    font-size: 25px;
    margin-bottom: 17px;
    @include media($width-xs){
      font-size: 35.87px;
      margin-bottom: 30px;
    }
    @include media($width-mid){
        font-size: 74.98px;
        margin-bottom: 65px;
      }
    @include media($width-max){
      font-size: 39.58px;
      margin-bottom: 55px;
    }
  }
    .mySlides {
      font-family: $museo;
      font-size: 18.75px;
      text-align: center;
      @include media($width-xs){
        font-size: 26.9px;
      }
      @include media($width-mid){
        font-size: 56.23px;
      }
      @include media($width-max){
        font-size: 18.75px;
        margin-right: 129px;
      }
      .mySlides:nth-child(3) {
        @include media($width-max) {
          margin-right: 0;
        }
      }
      img {
        width: 157px;
        margin-bottom: 14px;
        @include media($width-xs){
          margin-bottom: 30px;
          width: 225px;
        }
        @include media($width-mid){
            margin-bottom: 65px;
            width: 471px;
          }
        @include media($width-max){
          margin-bottom: 22px;
          width: 200px;
        }
      }
    }
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }
    .study-item-title{
      margin-bottom: 17px;
      color: $mainred;
      text-transform: uppercase;
      font-family: $museo500;
      @include media($width-xs){
        margin-bottom: 30px;
      }
      @include media($width-mid){
        margin-bottom: 65px;
      }
      @include media($width-max){
        margin-bottom: 29px;
      }
    }
    .study-item-text{
      color: #333333;
     font-family: $museo300;
    }
  }
/* banner styles ends */