/* study styles starts */
.study {
  padding: 26px 23px;
  background-image: url("img/mainbg.png");
  font-family: $museo;
  font-size: 18.75px;
  text-align: center;

  .study-title {
    text-transform: uppercase;
    text-align: center;
    color: $mainred;
    font-family: $echomed;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
  }

  .study-img {
    width: 157px;
  }

  .study-item-title {
    color: $mainred;
    text-transform: uppercase;
    font-weight: 500;
  }

  .study-item-text {
    color: #333333;
    font-weight: 300;
  }
}
/* study styles ends */