<header class="header">
        <nav class="navmenu"><div class="navmenu-dropdown-wrap"><div class="navmenu-dropdown"><a href="#" class="navmenu-item">головна</a><a href="#" class="navmenu-item">про сервіс</a><a href="#"
                                                                                                            class="navmenu-item">курси польської</a><a
                href="#" class="navmenu-item">статті</a><a href="#" class="navmenu-item">вакансії</a><a href="#"
                                                                                            class="navmenu-item">тарифи</a>
        </div>
        </div>
        </nav>
        <a href="#" class="logo-box"><img src="img/logo.png" alt="logo" class="logo-img">
            <span class="logo-text">робота в польщі</span>
        </a>
        <div class="language-panel">
            <div class="language-item language-item-active">ua</div>
            <div class="language-item">ru</div>
        </div>
</header>