@font-face {
  font-family: $echo;
  src: url('fonts/echo.otf');
}

@font-face {
  font-family: $echomed;
  src: url('fonts/echomed.otf');
}

@font-face {
  font-family: $echobold;
  src: url('fonts/echobold.otf');
}
@font-face {
  font-family: $museo;
  src: url('fonts/MuseoSansCyrl.otf');
}