@import 'normalize';
@import 'settings';
@import 'fonts';

body{
color: $mainwhite;
  font-family: $echobold;
}
.container{
  max-width: $width-max;
  margin: 0 auto;
  //    .media(@width-mid, {
  //padding: 0 2%;
  //    });
}
a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.valign{
  position: relative;
  height: 100%;
  &-content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

@import "../../components/header/_header.scss";
@import "../../components/navmenu/_navmenu.scss";